#!name= 皮皮虾去广告

host,sdk.e.qq.com,REJECT
host,dig.bdurl.net,REJECT
host-keyword,pglstatp,REJECT
host-keyword,pangolin,REJECT
host-suffix,ctobsnssdk.com,REJECT

^https?:\/\/api(5-lq)?\.pipix\.com\/api\/ad\/ url reject-dict

^https?:\/\/api(5-lq)?\.pipix\.com\/bds\/banner\/ url reject-dict

^https?:\/\/api(5-lq)?\.pipix\.com\/bds\/feed\/follow_feed\/ url reject-dict

^https?:\/\/api(5-lq)?\.pipix\.com\/bds\/feed\/stream\/v2\/ url jsonjq-response-body '.data.data |= map(select(has("ad_info") | not))'

^https?:\/\/api(5-lq)?\.pipix\.com\/bds\/user\/check_in\/ url jsonjq-response-body '.data.profile_entrances |= map(select(.title != "放心借" and .title != "洋钱罐借款")) | del(.data.pet_interface_message)'


hostname = api.pipix.com,api5-lq.pipix.com