

# ========== 闲鱼去广告 ==========
# URL Reject


^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlecommerce\.splash\.ads\/ url reject-dict

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.user\.strategy\.list\/ url reject-dict

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.item\.recommend\.list\/ url reject-dict

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.local\.near\.by\.corner\.info\/ url reject-dict

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.item\.buy\.feeds\/ url reject-dict

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.search\.shade\/ url reject-dict

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.playboy\.recommend\/ url reject-dict



# ========== JSON Body Rewrite ==========


# 首页刷新

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.home\.nextfresh\/ url jsonjq-response-body '.data.homeTopList |= map(select(.sectionType == "kingkongDo")) | .data.sections |= map(select(.data.clickParam.args.cardType != "homeMultiBanner" and .data.clickParam.args.cardType != "mamaAD")) | .data.sections |= map(select((.template.name|type=="string") and (.template.name=="idlefish_home_new_commodity_card" or (.template.name|contains("fish_home_tags_item_card")))))'


# 首页组件刷新

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.widget\.refresh\.get\/ url jsonjq-response-body '.data.homeTopList |= map(select(.sectionType == "kingkongDo"))'


# 首页鲸鱼模块

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.home\.whale\.modulet\/ url jsonjq-response-body '.data.container.sections |= map(select(.template.name == "fish_home_miniapp"))'


# 关注 Feed

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.fun\.follow\.feed\.list\/ url jsonjq-response-body '.data.sections |= map(select(.cardType == 2001))'


# 首页社区

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.home\.community\/ url jsonjq-response-body '.data.feedsList |= map(select(.template.name == "idlefish_home_new_commodity_card" or .template.name == "idlefish_home_new_content_card"))'


# 首页新品页面

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.home\.newitem\.page\/ url jsonjq-response-body '.data.sections |= map(select(.data.clickParam.args.cardType != "banner" and .data.clickParam.args.cardType != "mamaAD"))'


# 同城模块

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.local\.flow\.plat\.section\/ url jsonjq-response-body '.data.data.components |= map(select(.data and (.data|type=="object") and .data.template and (.data.template|type=="object") and .data.template.name and (.data.template.name|type=="string") and (.data.template.name|contains("fish_city_kingkong"))))'


# 同城首页顶部

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.local\.home\.top\/ url jsonjq-response-body '.data.data.components |= map(select(.key == "fish_home_second_stage_top_cardV3"))'


# 首页广告卡片

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.local\.home\/ url jsonjq-response-body '.data.sections |= map(select(.template.cardEnum != "ads" and .cardType == "common"))'


# 我的页面

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.idle\.user\.page\.my\.adapter\/ url jsonjq-response-body '.data.container.sections |= map(select(.template.name | test("^my_fy[0-9]+_(header|user_info|trade|appraise|tools)$"))) | .data.container.sections |= map(.item |= (if .level and .level.exContent and (.level.exContent | has("tips")) then del(.level) else . end))'


# 圈子列表
# 删除图片资源，过滤顶部分类

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.home\.circle\.list\/ url jsonjq-response-body '.data.circleList |= map(.showInfo |= del(.titleImage,.atmosphereImageUrl)) | .data.next.headList |= map(select(.bizCode == "main" or .bizCode == "market" or .bizCode == "IDLE_CIRCLE")) | .data.next.headList |= map(if .showInfo then .showInfo |= del(.rightTagImage) else . end)'



# 魔法首页

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.magic\.home\.page\.list\/ url jsonjq-response-body 'del(.data.topList)'



# 搜索结果广告过滤

^https:\/\/g-acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.search\/ url jsonjq-response-body '.data.resultList |= map(select(.data.item.main.exContent.dislikeFeedback.clickParam.args.bizType != "ad"))'



# 搜索结果顶部填充词删除

^https:\/\/g-acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.search\/ url jsonjq-response-body 'del(.data.resultPrefixBar)'



# 搜索发现页过滤热点

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.search\.discover\/ url jsonjq-response-body '.data.resultList |= map(select(.type != "MarketHotSpot"))'



# 搜索激活热词删除

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.item\.search\.activate\/ url jsonjq-response-body '.data.cardList |= map(if (.cardData? and (.cardData | has("hotwords"))) then .cardData |= del(.hotwords) else . end)'



# 订单页面精简

^https:\/\/acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idle\.trade\.full\.info\/ url jsonjq-response-body '.data.components |= map(select(.render == "orderStatusVO" or .render == "addressInfoVO" or .render == "orderInfoVO"))'




hostname = acs.m.goofish.com, g-acs.m.goofish.com